body{
  background-color: white;
    scroll-behavior: smooth;
}


.title_image{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 1;
  margin-left: 0%;
}

.title_scroll{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 2;
  margin-top: 13%;
}

.lines_one{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 0;
  margin-top: 14%;
}

#brain{
  position: absolute;
  width: 67%;
  height: auto;
  z-index: 101;
  margin-top: 125.5%;
  margin-left: 6%;
  opacity: 100%;
  transition: all ease-in-out 200ms;
  -webkit-transition: all ease-in-out 200ms;
}

#artist{
  position: absolute;
  width: 10%;
  height: auto;
  z-index: 100;
  margin-top: 130.5%;
  margin-left: 78%;
  transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
}

#artist_line{
  position: absolute;
  width: 30%;
  height: auto;
  z-index: 100;
  margin-top: 133%;
  margin-left: 58%;
  transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
}


#artist:hover{
  opacity: 50%;
  cursor: pointer;
}

#curator:hover{
  opacity: 50%;
  cursor: pointer;
}

#writing:hover{
  opacity: 50%;
  cursor: pointer;
}

#seeing:hover{
  opacity: 50%;
  cursor: pointer;
}

#artist_arrow{
  position: absolute;
  width: 1%;
  height: auto;
  z-index: -10;
  margin-top: 131%;
  margin-left: 76%;
  opacity: 100%;
  transform: rotate(0deg);
  transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
}

#curator{
  position: absolute;
  width: 12%;
  height: auto;
  z-index: 100;
  margin-top: 135.5%;
  margin-left: 76%;
  transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
}

#curator_line{
  position: absolute;
  width: 30%;
  height: auto;
  z-index: 100;
  margin-top: 138%;
  margin-left: 58%;
  transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
}

#curator_arrow{
  position: absolute;
  width: 1%;
  height: auto;
  z-index: -10;
  margin-top: 136%;
  margin-left: 74%;
  opacity: 100%;
  transform: rotate(0deg);
  transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
}

#writing{
  position: absolute;
  width: 11%;
  height: auto;
  z-index: 100;
  margin-top: 140.5%;
  margin-left: 77%;
  transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
}

#writing_line{
  position: absolute;
  width: 30%;
  height: auto;
  z-index: 100;
  margin-top: 143%;
  margin-left: 58%;
  transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
}


#writing_arrow{
  position: absolute;
  width: 1%;
  height: auto;
  z-index: -10;
  margin-top: 141%;
  margin-left: 76.5%;
  opacity: 100%;
  transform: rotate(0deg);
  transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
}

#seeing{
  position: absolute;
  width: 10%;
  height: auto;
  z-index: 100;
  margin-top: 145.5%;
  margin-left: 78%;
  transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
}

#seeing_line{
  position: absolute;
  width: 30%;
  height: auto;
  z-index: 100;
  margin-top: 148%;
  margin-left: 58%;
  transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
}

#seeing_arrow{
  position: absolute;
  width: 1%;
  height: auto;
  z-index: -10;
  margin-top: 146%;
  margin-left: 77.5%;
  opacity: 100%;
  transform: rotate(0deg);
  transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
}

/* <!--- ARTIST INDEX --------------------------------------> */

#index_one:hover{
  transform: scale(1.05);
  cursor: pointer;
  -webkit-transition: all ease-in-out 400ms;
}

#index_two:hover{
  transform: scale(1.05);
  cursor: pointer;
  -webkit-transition: all ease-in-out 400ms;
}

#index_three:hover{
  transform: scale(1.05);
  cursor: pointer;
  -webkit-transition: all ease-in-out 400ms;
}

#index_four:hover{
  transform: scale(1.05);
  cursor: pointer;
  -webkit-transition: all ease-in-out 400ms;
}

#index_five:hover{
  transform: scale(1.05);
  cursor: pointer;
  -webkit-transition: all ease-in-out 400ms;
}

#index_six:hover{
  transform: scale(1.05);
  cursor: pointer;
  -webkit-transition: all ease-in-out 400ms;
}

#index_seven:hover{
  transform: scale(1.05);
  cursor: pointer;
-webkit-transition: all ease-in-out 400ms;
}

#index_eight:hover{
  transform: scale(1.05);
  cursor: pointer;
-webkit-transition: all ease-in-out 400ms;
}

#index_nine:hover{
  transform: scale(1.05);
  cursor: pointer;
-webkit-transition: all ease-in-out 400ms;
}

#index_ten:hover{
  transform: scale(1.05);
  cursor: pointer;
-webkit-transition: all ease-in-out 400ms;
}

#index_one{
  position: absolute;
  width: 13%;
  height: auto;
  z-index: 1;
  margin-top: 134%;
  margin-left: 75%;
  transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
  opacity: 0%;
}

#index_two{
  position: absolute;
  width: 13%;
  height: auto;
  z-index: 1;
  margin-top: 136%;
  margin-left: 75%;
  opacity: 0%;
  transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
}

#index_three{
  position: absolute;
  width: 14%;
  height: auto;
  z-index: 1;
  margin-top: 138%;
  margin-left: 74%;
  opacity: 0%;
  transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
}

#index_four{
  position: absolute;
  width: 11%;
  height: auto;
  z-index: 1;
  margin-top: 140%;
  margin-left: 77%;
  opacity: 0%;
  transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
}

#index_five{
  position: absolute;
  width: 10%;
  height: auto;
  z-index: 1;
  margin-top: 142%;
  margin-left: 78%;
  opacity: 0%;
  transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
}

#index_six{
  position: absolute;
  width: 8%;
  height: auto;
  z-index: 1;
  margin-top: 144%;
  margin-left: 80%;
  opacity: 0%;
  transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
}

#index_seven{
  position: absolute;
  width: 16%;
  height: auto;
  z-index: 1;
  margin-top: 146%;
  margin-left: 72%;
  opacity: 0%;
  transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
}

#index_eight{
  position: absolute;
  width: 8%;
  height: auto;
  z-index: 1;
  margin-top: 148%;
  margin-left: 80%;
  opacity: 0%;
  transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
}

#index_nine{
  position: absolute;
  width: 15%;
  height: auto;
  z-index: 1;
  margin-top: 150%;
  margin-left: 73%;
  opacity: 0%;
  transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
}

#index_ten{
  position: absolute;
  width: 7.5%;
  height: auto;
  z-index: 1;
  margin-top: 152%;
  margin-left: 80.5%;
  opacity: 0%;
  transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
}


/* <!--- ARTISTS --------------------------------------> */

#adam_gif{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 5;
  margin-top: 214%;
  margin-left: 0%;
}

.adam_name{
  position: absolute;
  width: 25%;
  height: auto;
  z-index: 6;
  margin-top: 219%;
  margin-left: 13%;
  -webkit-transition: all ease 100ms;
}

#ben_gif{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 5;
  margin-top: 264%;
  margin-left: 0%;
}

.ben_name{
  position: absolute;
  width: 25%;
  height: auto;
  z-index: 6;
  margin-top: 269%;
  margin-left: 59%;
    -webkit-transition: all ease 100ms;
}

#casey_gif{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 5;
  margin-top: 314%;
  margin-left: 0%;
}

.casey_name{
  position: absolute;
  width: 25%;
  height: auto;
  z-index: 6;
  margin-top: 319%;
  margin-left: 13%;
    -webkit-transition: all ease 100ms;
}

#cosmo_gif{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 5;
  margin-top: 364%;
  margin-left: 0%;
}

.cosmo_name{
  position: absolute;
  width: 20%;
  height: auto;
  z-index: 6;
  margin-top: 369%;
  margin-left: 63%;
    -webkit-transition: all ease 100ms;
}

#jeremy_gif{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 5;
  margin-top: 414%;
  margin-left: 0%;
}

.jeremy_name{
  position: absolute;
  width: 20%;
  height: auto;
  z-index: 6;
  margin-top: 419%;
  margin-left: 17%;
    -webkit-transition: all ease 100ms;
}

#jiha_gif{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 5;
  margin-top: 464%;
  margin-left: 0%;
}

.jiha_name{
  position: absolute;
  width: 16%;
  height: auto;
  z-index: 6;
  margin-top: 469%;
  margin-left: 63%;
    -webkit-transition: all ease 100ms;
}

#kelly_gif{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 5;
  margin-top: 514%;
  margin-left: 0%;
}

.kelly_name{
  position: absolute;
  width: 28%;
  height: auto;
  z-index: 6;
  margin-top: 519%;
  margin-left: 12%;
    -webkit-transition: all ease 100ms;
}

#nydia_gif{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 5;
  margin-top: 564%;
  margin-left: 0%;
}

.nydia_name{
  position: absolute;
  width: 17%;
  height: auto;
  z-index: 6;
  margin-top: 569%;
  margin-left: 65%;
    -webkit-transition: all ease 100ms;
}

#sonya_gif{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 5;
  margin-top: 614%;
  margin-left: 0%;
}

.sonya_name{
  position: absolute;
  width: 25%;
  height: auto;
  z-index: 6;
  margin-top: 619%;
  margin-left: 13%;
}

#tim_gif{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 5;
  margin-top: 664%;
  margin-left: 0%;
}

.tim_name{
  position: absolute;
  width: 16%;
  height: auto;
  z-index: 6;
  margin-top: 669%;
  margin-left: 66%;
    -webkit-transition: all ease 100ms;
}

.adam_name:hover{
  opacity: 50%;
  transform: scale(1.05);
  transition: all ease-in-out 100ms;
  -webkit-transition: all ease 100ms;
}

.ben_name:hover{
  opacity: 50%;
    -webkit-transition: all ease 100ms;
}

.casey_name:hover{
  opacity: 50%;
    -webkit-transition: all ease 100ms;
}

.casey_name:hover{
  opacity: 50%;
    -webkit-transition: all ease 100ms;
}

.cosmo_name:hover{
  opacity: 50%;
    -webkit-transition: all ease 100ms;
}

.jeremy_name:hover{
  opacity: 50%;
    -webkit-transition: all ease 100ms;
}

.jiha_name:hover{
  opacity: 50%;
    -webkit-transition: all ease 100ms;
}

.kelly_name:hover{
  opacity: 50%;
    -webkit-transition: all ease 100ms;
}

.nydia_name:hover{
  opacity: 50%;
    -webkit-transition: all ease 100ms;
}

.sonya_name:hover{
  opacity: 50%;
    -webkit-transition: all ease 100ms;
}

.tim_name:hover{
  opacity: 50%;
    -webkit-transition: all ease 100ms;
}

/* SCANS--------------------------------- */

.moth{
  position: absolute;
  width: 90%;
  height: auto;
  z-index: 7;
  margin-top: 712.5%;
  margin-left: 9.25%;
}

.lines_two{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 0;
  margin-top: 758%;
}

/* <!-- CURATORS -------------------------------> */

#curator_bg{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 768%;
}

.cate{
  position: absolute;
  width: 24%;
  height: auto;
  z-index: 1;
  margin-top: 781.5%;
  margin-left: 10%;
  opacity: 100%;
}

.cate_gif{
  position: absolute;
  width: 24%;
  height: auto;
  z-index: 2;
  margin-top: 781%;
  margin-left: 10%;
  opacity: 0%;
}

.cate_tour{
  position: absolute;
  width: 15%;
  height: auto;
  z-index: 3;
  margin-top: 798%;
  margin-left: 6.9%;
}

.cate:hover{
  opacity: 0%;
}

.cate_gif:hover{
  opacity: 100%;
}

.cate_tour:hover{
  transform: translateX(.8vw);
}

.julia_tour:hover{
  transform: translateX(-.8vw);
}

.kayleigh_tour:hover{
  transform: translateX(.8vw);
}

.sakina_tour:hover{
  transform: translateX(-.8vw);
}

.julia{
  position: absolute;
  width: 16%;
  height: auto;
  z-index: 2;
  margin-top: 803.3%;
  margin-left: 46.5%;
}

.julia_gif{
  position: absolute;
  width: 16%;
  height: auto;
  z-index: 2;
  margin-top: 803%;
  margin-left: 46.5%;
  opacity: 0%;
}

.julia_tour{
  position: absolute;
  width: 15%;
  height: auto;
  z-index: 3;
  margin-top: 819.8%;
  margin-left: 77.03%;
}

.julia:hover{
  opacity: 0%;
}

.julia_gif:hover{
  opacity: 100%;
}

.kayleigh{
  position: absolute;
  width: 32%;
  height: auto;
  z-index: 2;
  margin-top: 825%;
  margin-left: 10%;
}

.kayleigh_gif{
  position: absolute;
  width: 32%;
  height: auto;
  z-index: 2;
  margin-top: 824.6%;
  margin-left: 10%;
  opacity: 0%;
}


.kayleigh_tour{
  position: absolute;
  width: 15%;
  height: auto;
  z-index: 3;
  margin-top: 841.5%;
  margin-left: 6.9%;
}

.kayleigh:hover{
  opacity: 0%;
}

.kayleigh_gif:hover{
  opacity: 100%;
}

.sakina{
  position: absolute;
  width: 23%;
  height: auto;
  z-index: 2;
  margin-top: 846.5%;
  margin-left: 46%;
}

.sakina_gif{
  position: absolute;
  width: 23%;
  height: auto;
  z-index: 2;
  margin-top: 846%;
  margin-left: 46%;
  opacity: 0%;
}

.sakina_tour{
  position: absolute;
  width: 15%;
  height: auto;
  z-index: 3;
  margin-top: 863%;
  margin-left: 76.54%;
}

.sakina:hover{
  opacity: 0%;
}

.sakina_gif:hover{
  opacity: 100%;
}

/* ESSAYS----------------------------------- */

.memory_title{
  position: absolute;
  width: 40%;
  height: auto;
  z-index: 4;
  margin-top: 1180%;
  margin-left: 2%;
}

#essays_one{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 3;
  margin-top: 905%;
  margin-left: 0%;
}

.essays_two{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 3;
  margin-top: 1088%;
  margin-left: 0%;
}

.snake{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 3;
  margin-top: 1218%;
  margin-left: 0%;
}

/* <!-- TIMELINE --------------------------------------> */

#timeline{
  position: absolute;
  width: 48%;
  height: auto;
  z-index: 3;
  margin-top: 1270%;
  margin-left: 50%;
}

.video_one{
  position: absolute;
  width: 50%;
  height: auto;
  z-index: 3;
  margin-top: 1269%;
  margin-left: 1%;
}

.video_two{
  position: absolute;
  width: 50%;
  height: auto;
  z-index: 3;
  margin-top: 1304%;
  margin-left: 1%;
}

.video_three{
  position: absolute;
  width: 50%;
  height: auto;
  z-index: 3;
  margin-top: 1340%;
  margin-left: 1%;
}

.video_four{
  position: absolute;
  width: 50%;
  height: auto;
  z-index: 3;
  margin-top: 1376.5%;
  margin-left: 1%;
}

.video_five{
  position: absolute;
  width: 90%;
  height: auto;
  z-index: 3;
  margin-top: 1410%;
  margin-left: 5%;
}

.title_scroll_two{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 2;
  margin-top: 1463%;
}

.bottom_title{
  position: absolute;
  width: 90%;
  height: auto;
  z-index: 2;
  margin-top: 1470%;
  margin-left: 4%;
}

.thanks{
  position: absolute;
  width: 90%;
  height: auto;
  z-index: 2;
  margin-top: 1505%;
  margin-left: 4%;
  padding-bottom: 10%;
}
