body{
  background-color: white;
}

.title_image{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 1;
  margin-left: 0%;
}

.title_scroll{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 2;
  margin-top: 13%;
}

.lines_one{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 0;
  margin-top: 14%;
}

.brain{
  position: absolute;
  width: 90%;
  height: auto;
  z-index: 2;
  margin-top: 125.5%;
  margin-left: 6%;
}

/* <!--- ARTISTS --------------------------------------> */

.adam_gif{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 5;
  margin-top: 214%;
  margin-left: 0%;
}

.adam_name{
  position: absolute;
  width: 25%;
  height: auto;
  z-index: 6;
  margin-top: 219%;
  margin-left: 13%;
}

.ben_gif{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 5;
  margin-top: 264%;
  margin-left: 0%;
}

.ben_name{
  position: absolute;
  width: 25%;
  height: auto;
  z-index: 6;
  margin-top: 269%;
  margin-left: 59%;
}

.casey_gif{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 5;
  margin-top: 314%;
  margin-left: 0%;
}

.casey_name{
  position: absolute;
  width: 25%;
  height: auto;
  z-index: 6;
  margin-top: 319%;
  margin-left: 13%;
}

.cosmo_gif{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 5;
  margin-top: 364%;
  margin-left: 0%;
}

.cosmo_name{
  position: absolute;
  width: 20%;
  height: auto;
  z-index: 6;
  margin-top: 369%;
  margin-left: 63%;
}

.jeremy_gif{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 5;
  margin-top: 414%;
  margin-left: 0%;
}

.jeremy_name{
  position: absolute;
  width: 20%;
  height: auto;
  z-index: 6;
  margin-top: 419%;
  margin-left: 17%;
}

.jiha_gif{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 5;
  margin-top: 464%;
  margin-left: 0%;
}

.jiha_name{
  position: absolute;
  width: 16%;
  height: auto;
  z-index: 6;
  margin-top: 469%;
  margin-left: 63%;
}

.kelly_gif{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 5;
  margin-top: 514%;
  margin-left: 0%;
}

.kelly_name{
  position: absolute;
  width: 28%;
  height: auto;
  z-index: 6;
  margin-top: 519%;
  margin-left: 12%;
}

.nydia_gif{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 5;
  margin-top: 564%;
  margin-left: 0%;
}

.nydia_name{
  position: absolute;
  width: 17%;
  height: auto;
  z-index: 6;
  margin-top: 569%;
  margin-left: 65%;
}

.sonya_gif{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 5;
  margin-top: 614%;
  margin-left: 0%;
}

.sonya_name{
  position: absolute;
  width: 25%;
  height: auto;
  z-index: 6;
  margin-top: 619%;
  margin-left: 13%;
}

.tim_gif{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 5;
  margin-top: 664%;
  margin-left: 0%;
}

.tim_name{
  position: absolute;
  width: 16%;
  height: auto;
  z-index: 6;
  margin-top: 669%;
  margin-left: 66%;
}

.adam_name:hover{
  transform: scale(1.1);
}

.ben_name:hover{
  transform: scale(1.1);
}

.casey_name:hover{
  transform: scale(1.1);
}

.casey_name:hover{
  transform: scale(1.1);
}

.cosmo_name:hover{
  transform: scale(1.1);
}

.jeremy_name:hover{
  transform: scale(1.1);
}

.jiha_name:hover{
  transform: scale(1.1);
}

.kelly_name:hover{
  transform: scale(1.1);
}

.nydia_name:hover{
  transform: scale(1.1);
}

.sonya_name:hover{
  transform: scale(1.1);
}

.tim_name:hover{
  transform: scale(1.1);
  opacity: 50%;
}

/* SCANS--------------------------------- */

.moth{
  position: absolute;
  width: 90%;
  height: auto;
  z-index: 7;
  margin-top: 712.5%;
  margin-left: 9.25%;
}

.lines_two{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 0;
  margin-top: 758%;
}

/* <!-- CURATORS -------------------------------> */

.curator_bg{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 768%;
}

.cate{
  position: absolute;
  width: 24%;
  height: auto;
  z-index: 1;
  margin-top: 781.5%;
  margin-left: 10%;
  opacity: 100%;
}

.cate_gif{
  position: absolute;
  width: 24%;
  height: auto;
  z-index: 2;
  margin-top: 781%;
  margin-left: 10%;
  opacity: 0%;
}

.cate_tour{
  position: absolute;
  width: 15%;
  height: auto;
  z-index: 3;
  margin-top: 798%;
  margin-left: 6.9%;
}

.cate:hover{
  opacity: 0%;
}

.cate_gif:hover{
  opacity: 100%;
}

.julia{
  position: absolute;
  width: 16%;
  height: auto;
  z-index: 2;
  margin-top: 803.3%;
  margin-left: 46.5%;
}

.julia_gif{
  position: absolute;
  width: 16%;
  height: auto;
  z-index: 2;
  margin-top: 803%;
  margin-left: 46.5%;
  opacity: 0%;
}

.julia_tour{
  position: absolute;
  width: 15%;
  height: auto;
  z-index: 3;
  margin-top: 819.8%;
  margin-left: 77.03%;
}

.julia:hover{
  opacity: 0%;
}

.julia_gif:hover{
  opacity: 100%;
}

.kayleigh{
  position: absolute;
  width: 32%;
  height: auto;
  z-index: 2;
  margin-top: 825%;
  margin-left: 10%;
}

.kayleigh_gif{
  position: absolute;
  width: 32%;
  height: auto;
  z-index: 2;
  margin-top: 824.6%;
  margin-left: 10%;
  opacity: 0%;
}


.kayleigh_tour{
  position: absolute;
  width: 15%;
  height: auto;
  z-index: 3;
  margin-top: 841.5%;
  margin-left: 6.9%;
}

.kayleigh:hover{
  opacity: 0%;
}

.kayleigh_gif:hover{
  opacity: 100%;
}

.sakina{
  position: absolute;
  width: 23%;
  height: auto;
  z-index: 2;
  margin-top: 846.5%;
  margin-left: 46%;
}

.sakina_gif{
  position: absolute;
  width: 23%;
  height: auto;
  z-index: 2;
  margin-top: 846%;
  margin-left: 46%;
  opacity: 0%;
}

.sakina_tour{
  position: absolute;
  width: 15%;
  height: auto;
  z-index: 3;
  margin-top: 863%;
  margin-left: 76.54%;
}

.sakina:hover{
  opacity: 0%;
}

.sakina_gif:hover{
  opacity: 100%;
}

/* ESSAYS----------------------------------- */

.essays_one{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 3;
  margin-top: 905%;
  margin-left: 0%;
}

.essays_two{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 3;
  margin-top: 1088%;
  margin-left: 0%;
}

.snake{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 3;
  margin-top: 1218%;
  margin-left: 0%;
}

/* <!-- TIMELINE --------------------------------------> */

.timeline{
  position: absolute;
  width: 48%;
  height: auto;
  z-index: 3;
  margin-top: 1270%;
  margin-left: 50%;
}

.video_one{
  position: absolute;
  width: 50%;
  height: auto;
  z-index: 3;
  margin-top: 1269%;
  margin-left: 1%;
}

.video_two{
  position: absolute;
  width: 50%;
  height: auto;
  z-index: 3;
  margin-top: 1304%;
  margin-left: 1%;
}

.video_three{
  position: absolute;
  width: 50%;
  height: auto;
  z-index: 3;
  margin-top: 1340%;
  margin-left: 1%;
}

.video_four{
  position: absolute;
  width: 50%;
  height: auto;
  z-index: 3;
  margin-top: 1376.5%;
  margin-left: 1%;
}
